* {
    padding: 0;
    margin: 0;
}

.html{
    scroll-behavior: smooth;
}

/* Home Page Css */
.home-here {
    position: relative;
}

#background {
    width: 100%;
    height: 650px;
    opacity: 0.7;
}
.back-img{
    width: 100%;
    height: 650px;
}

div .content {
    background: rgba(5, 0, 0, 0.4);
}

.content h2 {
    position: absolute;
    font-size: 70px;
    top: 200px;
    left: 500px;
    font-family: 'Sacramento', cursive;
    color: rgb(1, 8, 14);
}

.content h1 {
    position: absolute;
    font-size: 70px;
    top: 300px;
    left: 460px;
    font-family: 'Syne Mono', monospace;
    color: rgb(32, 3, 59);
    animation: art-gal-name 4s linear 0s;
    /*added now */
    animation-iteration-count: infinite;
}

@keyframes art-gal-name {
    0% {
        /* font-size: 30px; */
        color: rgb(245, 8, 8);
    }

    25% {
        /* font-size: 40px; */
        color: rgb(11, 4, 82);
        letter-spacing: 2px;
    }

    50% {
        /* font-size: 50px; */
        color: rgb(2, 71, 19);
        letter-spacing: 5px;
    }

    60% {
        /* font-size: 70px; */
        color: rgb(71, 3, 54);
        letter-spacing: 8px;
    }

    75% {
        /* font-size: 80px; */
        color: rgb(104, 42, 6);
    }

    100% {
        /* font-size: 90px; */
        color: rgb(24, 15, 77);
    }
}


/* .content{
    width: 100%;
    height: 650px;
} */

/* Art Gallery Pages Styling */

.all-images{
    background: black;
}

.all-images .img-head {
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 1px solid #3deaa4;
    color: white;
    width:600px;
    margin: 50px 13px;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 5px;
}

.all-images img {
    width: 28%;
}

.all-images .row{
   justify-items: center;
   margin-left: 100px;
}

.all-images .row img{
    padding: 20px 20px;
    border-radius: 8%;
    height: 350px;
}

.all-images .row img:hover{
    transform: scale(1.3);
    border-radius: 0%;
    border: .1rem solid #000000;
    /* border: .1rem solid #3deaa4; */
    box-shadow: 2px 2px 2px 2px black;
    padding: 0;
    height:400px
}

/*********** Copyright Section *************/

.copyright{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #484849;
    color: #63746d;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
}

.copyright i{
  color: red;
  font-family: 'Montserrat', sans-serif;
}



